@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1603114552431'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1603114552431#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1603114552431') format('woff'),
  url('../fonts/iconfont.ttf?t=1603114552431') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1603114552431#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e617";
}

.icon-add:before {
  content: "\e609";
}

.iconradio-two:before {
  content: "\e613";
}

.icon-my-collection:before {
  content: "\e616";
}

.icon-history:before {
  content: "\e630";
}

.iconPause:before {
  content: "\e60c";
}

.iconPlay:before {
  content: "\e74f";
}

.icon-like-two:before {
  content: "\e600";
}

.icon-singer:before {
  content: "\e74d";
}

.icon-horn:before {
  content: "\e74e";
}

.icon-dot-copy:before {
  content: "\e74c";
}

.icon-cancel:before {
  content: "\e604";
}


.icon-test:before {
  content: "\e614";
}

.icon-richscan:before {
  content: "\e661";
}

.icon-location:before {
  content: "\e611";
}

.icon-ring:before {
  content: "\e603";
}

.icon-moon:before {
  content: "\e620";
}

.icon-install:before {
  content: "\e612";
}

.icon-exit:before {
  content: "\e62e";
}

.icon-shopping:before {
  content: "\e74b";
}

.icon-piao:before {
  content: "\e672";
}

.icon-friend:before {
  content: "\e671";
}

.icon-message:before {
  content: "\e62f";
}

.icon-clothes:before {
  content: "\e666";
}

.icon-radio:before {
  content: "\e63d";
}

.icon-like:before {
  content: "\e610";
}

.icon-sequence:before {
  content: "\e64d";
}

.icon-classify:before {
  content: "\e623";
}

.icon-random:before {
  content: "\e60a";
}

.icon-payment:before {
  content: "\e615";
}

.icon-book:before {
  content: "\e60f";
}

.icon-rank:before {
  content: "\e6f1";
}

.icon-loop:before {
  content: "\e6e5";
}

.icon-comment-one:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e60b";
}

.icon-collection-red:before {
  content: "\e608";
}

.icon-comment-two:before {
  content: "\e6d7";
}

.icon-collection-green:before {
  content: "\e621";
}

.icon-back:before {
  content: "\e64e";
}

.icon-prev:before {
  content: "\e607";
}

.icon-next:before {
  content: "\e605";
}

.icon-play:before {
  content: "\e602";
}

.icon-menu:before {
  content: "\e606";
}

.icon-pause:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e601";
}

